* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "up down"
    "up down";
  grid-gap: 20px;
}

.up {
  padding: 20px;
  grid-area: up;
  background-color: blue;
  display: grid;
  align-items: flex-start;
}

.up h1 {
  color: aliceblue;
  justify-self: center;
  align-self: start;
}

.down {
  padding: 20px;
  grid-area: down;
  background-color: greenyellow;
  display: grid;
  align-items: flex-start;
}

.down h1 {
  color: black;
  justify-self: center;
  align-self: start;
}

.form-container .header h2 {
  padding: 20px 0px;
}

.form-container {
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 4px;
}
.form-control {
  padding: 10px;
  margin-bottom: 10px;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-control input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}

.form-button button {
  display: block;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 4px;
  background-color: rgb(48, 47, 47);
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 893px) {
  .wrapper {
    grid-template-areas:
      "up up"
      "down down";
  }

  .down {
    justify-content: flex-start;
  }

  .up {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 539px) {
  .down {
    justify-content: center;
  }
  .up {
    justify-content: center;
  }
}
