* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #af8aff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.show-modal {
  padding: 20px 50px;
  margin: 50px 20px;
  border-radius: 50px;
  border: 1px solid rgb(167, 164, 164);
  outline: none;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  backdrop-filter: blur(3px);
  z-index: 2;
  opacity: 70%;
}

.pop-up {
  background-color: #fff;
  position: absolute;
  z-index: 3;
  line-height: 1.8;
  font-size: 17px;
  width: 80%;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pop-up h2 {
  padding-bottom: 20px;
}

.pop-up .close-model {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 3rem;
  border: none;
  outline: none;
  background: none;
}

.hidden {
  display: none;
}

.pop-up-inside.sun {
  position: relative;
  background-image: url("./images/sun.jpg");
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.pop-up-inside.moon {
  position: relative;
  background-image: url("./images/moon.jpeg");
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.pop-up-inside.mars {
  position: relative;
  background-image: url("./images/mars.jpeg");
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.sun {
  background-color: #ffd3d3;
}

.moon {
  background-color: #b0c5f5;
}

.mars {
  background-color: #ffb5b5;
}
